/* Color Theme Swatches in Hex */
.kırmızı-gemi-1-hex { color: #F23545; }
.kırmızı-gemi-2-hex { color: #D92344; }
.kırmızı-gemi-3-hex { color: #8C113E; }
.kırmızı-gemi-4-hex { color: #368DD9; }
.kırmızı-gemi-5-hex { color: #3DADF2; }

/* Color Theme Swatches in RGBA */
.kırmızı-gemi-1-rgba { color: rgba(242, 53, 69, 1); }
.kırmızı-gemi-2-rgba { color: rgba(216, 34, 68, 1); }
.kırmızı-gemi-3-rgba { color: rgba(140, 16, 62, 1); }
.kırmızı-gemi-4-rgba { color: rgba(54, 140, 216, 1); }
.kırmızı-gemi-5-rgba { color: rgba(60, 172, 242, 1); }

/* Color Theme Swatches in HSLA */
.kırmızı-gemi-1-hsla { color: hsla(354, 88, 57, 1); }
.kırmızı-gemi-2-hsla { color: hsla(348, 72, 49, 1); }
.kırmızı-gemi-3-hsla { color: hsla(337, 78, 30, 1); }
.kırmızı-gemi-4-hsla { color: hsla(208, 68, 53, 1); }
.kırmızı-gemi-5-hsla { color: hsla(202, 87, 59, 1); }
